body {
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: rgb(5, 87, 238);
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 2000px;
  width: 3000px;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
}

.canvas {
  display: flex;
  margin: 0;
  border: 0;
}

.canvasAnimation {
  display: flex;
  margin: 0;
  border: 0;
}



.wrapperAnimation {
  pointer-events:none;
  position: absolute;
  height: 2000px;
  width: 3000px;
  top: 0;
  left: 0;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: rgba(88, 20, 191, 0);
}

